<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 危急值记录表 -->
<mapper namespace="com.buit.mms.safety.dao.AdvShpzDao">

    <insert id="batchInsert">
        insert into adv_shpz(czrgh,propid,shks)
        values
        <foreach collection="list" item="p" separator=",">
        (
            #{p.czrgh},
            #{p.propid},
            #{p.shks}
            )
        </foreach>
    </insert>
    <delete id="delete">
        delete from adv_shpz where propid in (<foreach collection="list" item="s" separator=",">#{s}</foreach>)
    </delete>
</mapper>

